<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Jogo da velha</title>
</head>

<body>
    <div>
        <h2>Jogo da Velha</h2>

        <!-- Tela inicial -->
        <div class="principal" *ngIf="showInicio">
            <a href="#" class="botao" (click)="iniciarJogo()"> Iniciar</a>
        </div>

        <!-- Fim da tela inicial -->
        <!-- tabuleiro -->
        <div *ngIf="showTabuleiro">
            <ul>
                <li class="kz-border-bottom kz-border-right" (click)="jogar(0,0)" [class.kz-img-x]="exibirX(0,0)" [class.kz-img-0]="exibirO(0,0)" [class.kz-cor-vitoria]="exibirVitoria(0,0)"></li>
                <li class="kz-border-bottom kz-border-right" (click)="jogar(0,1)" [class.kz-img-x]="exibirX(0,1)" [class.kz-img-0]="exibirO(0,1)" [class.kz-cor-vitoria]="exibirVitoria(0,1)"></li>
                <li class="kz-border-bottom" (click)="jogar(0,2)" [class.kz-img-x]="exibirX(0,2)" [class.kz-img-0]="exibirO(0,2)" [class.kz-cor-vitoria]="exibirVitoria(0,2)"></li>
                <li class="kz-border-bottom kz-border-right"></li>
                <li class="kz-border-bottom kz-border-right"></li>
                <li class="kz-border-bottom "></li>
                <li class="kz-border-right"></li>
                <li class="kz-border-right"></li>
            </ul>
            <!-- fim tabuleiro -->
        </div>
        <!-- tela final -->
        <div *ngIf="showFinal">
            <span>
                <p> Você venceu</p>
                <p> Você Perdeu</p>
                <p>O jogo terminou empatado...</p>
                <br />
                <a href='#'
                class="botao">Jogar Novamente</a>
            </span>
        </div>
        <!-- tela final -->

    </div>
</body>

</html>